extends ../layout

block content
  .container
    .row
      h1 #{title}
    .row
      each item in movies
        .col-md-2.border
          .thumbnail
            a(href="/movie/#{item._id}")
              img(src="#{item.poster}", alt="#{item.title}", width="100%", height="auto")
            .caption.text-center
              h4 #{item.title}
              p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
